.example-spacer {
  flex: 1 1 auto;
}

.footer {
  height: 75px;
  z-index: 2;
  position: relative;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .announcement_list_top {
    top: 64px;
  }
}

@media screen and (max-width: 599px) and (min-width: 551px) {
  .announcement_list_top {
    top: 56px;
  }
}

@media screen and (max-width: 550px) {
  .announcement_list_top {
    top: 112px;
  }
}
